[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
webtest = "*"

[packages]
numpy = "*"
scipy = "*"
obspy = "*"
pycurl = "*"
# flask webservice
authlib = "*"
flask = "*"
flask-login = "*"
flask-migrate = "*"
flask-session = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
# residual method spreadsheets
openpyxl = "*"

[pipenv]
allow_prereleases = true
